@import './reset.scss';

:root {
  font-size: 16px;
  line-height: 1.5;
}

html {
  overflow-y: scroll;
}

body {
  background-color: rgb(157 157 157);
  padding: 20px;
}

#app {
  background-color:rgba(255, 255, 255, 0.336);
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  font-weight: normal;
}

button {
  border-radius: 7px;
  border: 1px solid transparent;
  padding: 0 10px;
  background-color:rgb(134, 130, 130);
  cursor: pointer;
}

button:hover {
    background-color: rgba(134, 130, 130, 0.479);
}
