@import './reset.scss';

:root {
  font-size: 16px;
  line-height: 1.5;
}

html {
  overflow-y: scroll;
}

body {
  background-color: rgb(223 223 223);
  padding: 20px;
}

#app {
  background-color:rgba(255, 255, 255, 0.336);
  max-width: 1280px;
  border-radius: 5px;
  margin: 0 auto;
  padding: 20px;
  font-weight: normal;
}

button {
  border-radius: 7px;
  border: 1px solid rgb(32, 31, 31);
  padding: 0 10px;
  background-color: white;
  cursor: pointer;
}

button:hover {
    background-color: rgb(221, 217, 217);
}
